// ========================================
//
// @file _basic.scss
// Basic page specific styling
//
// ========================================


// Basic page header
// -----------------------------------------------------------------------------
.basic-page-header {
  position: relative;
  color: $color-white;
  text-align: center;
  
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60rem;
    padding: 12rem 0 12rem 0;
  }

  .basic-page-header--heading {
    position: relative;
    min-height: 32rem;
    padding: 6.5rem 0 6rem 0;

    @media (max-width: $screen-xs-max) {
      display: flex;
      align-items: center;
    }
    
    @media (min-width: $screen-sm-min) {
      position: static;
      min-height: auto;
      padding: 0;
    }

    .container {
      max-width: 88rem;
    }
  }

  .basic-page-header--bg {
    @extend %hero-image--bg;
  }

  .basic-page-header--gradient {
    @extend %hero-image--gradient;
  }

  .basic-page-header--content {
    @extend %lead;

    @media (min-width: $screen-sm-min) {
      max-width: 74rem;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 6.3rem;
      padding-bottom: 7.3rem;
    }
  }

  // Gradient colors
  &.color-blue {
    .basic-page-header--gradient {
      @include gradient-blue();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-blue();
      }
    }
  }

  &.color-green {
    .basic-page-header--gradient {
      @include gradient-green();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-green();
      }
    }
  }

  &.color-orange {
    .basic-page-header--gradient {
      @include gradient-orange();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-orange();
      }
    }
  }

  &.color-purple {
    .basic-page-header--gradient {
      @include gradient-purple();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-purple();
      }
    }
  }
}

// Basic page layout
// -----------------------------------------------------------------------------
.basic-page-container {
  display: flex;
  padding-top: 10.5rem;
  padding-bottom: 3rem;

  .basic-page-sidebar {
    width: 30%;
    min-width: 330px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .basic-page-content {
    @media (min-width: $screen-sm-min) {
      width: 70%;
    }
  }
}
