// ========================================
//
// @file _basic.scss
// Basic page, News Article specific styling
//
// ========================================

// Basic page layout
// -----------------------------------------------------------------------------
.basic-page-container {
  padding-top: 10.5rem;
  padding-bottom: 3rem;

  @media (min-width: $screen-md-min) {
    display: flex;
  }

  .basic-page-sidebar {
    width: 30%;
    min-width: 330px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .basic-page-content {
    @media (min-width: $screen-md-min) {
      width: 70%;
      margin: 0 auto;
    }
  }

  .basic-page-wrapper.basic-page-with-sidebar {
    .basic-page-content {
      @media (min-width: $screen-md-min) {
        margin: 0;
      }
    }
  }
}

// Basic page, News Article -- Header
// -----------------------------------------------------------------------------
.basic-page-header,
.news-article--bg .news-article-header {
  position: relative;
  color: $color-white;
  text-align: center;
  
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60rem;
    padding: 12rem 0 12rem 0;
  }

  &--heading {
    position: relative;
    min-height: 32rem;
    padding: 6.5rem 0 6rem 0;

    @media (max-width: $screen-xs-max) {
      display: flex;
      align-items: center;
    }
    
    @media (min-width: $screen-sm-min) {
      position: static;
      min-height: auto;
      padding: 0;
    }
  }

  &--bg {
    @extend %hero-image--bg;
  }

  &--gradient {
    @extend %hero-image--gradient;
  }

  &--content {
    @extend %lead;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      padding-top: 5rem;
      padding-bottom: 7rem;
    }

    @media (min-width: $screen-sm-min) {
      max-width: 740px;
    }

    a {
      color: $color-white;
      opacity: .65;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Basic page only
.basic-page-header {
  // Heading
  &--heading {
    .container {
      max-width: $container-xs;
    }
  }

  // Gradients
  &.color-blue {
    .basic-page-header--gradient {
      @include gradient-blue();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-blue();
      }
    }
  }

  &.color-green {
    .basic-page-header--gradient {
      @include gradient-green();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-green();
      }
    }
  }

  &.color-orange {
    .basic-page-header--gradient {
      @include gradient-orange();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-orange();
      }
    }
  }

  &.color-purple {
    .basic-page-header--gradient {
      @include gradient-purple();
    }

    .basic-page-header--content {
      @media (max-width: $screen-xs-max) {
        @include gradient-purple();
      }
    }
  }
}

// Blue Gradient for Basic page, News Article
.news-article--bg .news-article-header {
  &--gradient {
    @include gradient-blue();
  }

  &--content {
    @media (max-width: $screen-xs-max) {
      @include gradient-blue();
    }
  }
}

// Basic page, News Article -- Content
// -----------------------------------------------------------------------------
.basic-page-content,
.news-article-content,
.path-stories #content,
.path-stories #components {
  // General styles
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h2.basic-page-optional-header {
    @include font-size(1.6);
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h2.basic-page-optional-header,
  h3,
  h4,
  table caption {
    color: $mat-brand-primary;
  }

  h3 {
    @extend %small-extra;

    @media (min-width: $screen-sm-min) {
      @include font-size(1.6);
      line-height: 1.5;
    }
  }

  h4,
  table caption {
    padding: .4em 0 .7em 0;
    @extend %lead;
    font-weight: 500;
  }

  blockquote {
    position: relative;
    padding: 4.8rem 0 0 4rem;
    margin: 2.35em 0 1.2em 0;
    @extend %lead;
    font-family: $font-flama-light;

    @media (min-width: $screen-sm-min) {
      padding: 0 8rem 0 4rem;
      line-height: 1.5 !important;
      margin-top: 4rem;
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 25px;
      position: absolute;
      top: 1rem;
      left: 4rem;
      @include icons('i-quote');
      background-size: 20px auto;

      @media (min-width: $screen-sm-min) {
         width: 15px;
         left: 0;
         background-size: 15px auto;
      }
    }
  }

  table {
    margin-top: 0;
    caption {
      padding-top: 4rem;
    }
  }

  hr {
    margin-bottom: 3rem;
  }

  // Summary
  &--summary {
    margin-bottom: 2.5rem;

    p {
      @extend %h4;
      font-weight: 500;

      @media (min-width: $screen-md-min) {
        @include font-size(2.4);
        line-height: 1.35;
      }

      &,
      a {
        color: $blue-dark;
      }
    }

    blockquote {
      p {
        &,
        a {
          color: $gray-darker;
        }
      }
    }

    // Lists
    ul,
    ol {
      @extend %list-base;
    }

    ul:not(.contextual-links) {
      @extend %list-ul;
    }

    ol {
      @extend %list-ol;
    }
  }
}

