// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================
.page-node-type-landing-page {
  .precontent #block-mat-local-tasks {
    display: none !important;  // do not change
  }
}

// Status message position fix for landing pages
.page-node-type-landing-page {
  .region-content > .messages {
    position: absolute;
    z-index: 200;
    right: 0;
    left: 0;
  }
}
