// Newsroom page
.path-newsroom {
  .region-content {
    background-color: $gray-lighter;
    border-top: 2px solid #ECECEC;
  }
}

.view-news-landing {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9rem;
  padding-bottom: 9rem;

  @media (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (min-width: $screen-md-min) {
    padding-right: 0;
  }

  &:before,
  &:after {
    border-top: 2px solid rgba(74,74,74,.10);
    height: calc(100% + 2px);
    top: -2px;
  }

  .view-header {
    text-align: center;
    width: 100%;
    flex-basis: 100%;

    h3 {
      color: $mat-brand-primary;
    }

    h1 {
      margin-bottom: 3rem;
      color: $blue-dark;
    }

     @media (max-width: $screen-xs) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .view-filters {
    position: relative;
    min-width: 310px;
    margin: 5.5rem auto 9.5rem auto;

    @media (min-width: $screen-md-min) {
      width: 30%;
      min-width: 270px;
      margin: 0;
      padding-top: 30px;
    }
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: $screen-md-min) {
      width: 70%;
    }

    // single news item
    > .views-row {
      visibility: hidden; // for scroll review
      position: relative;
      overflow: hidden;
      width: calc(50% - 60px);
      margin: 30px;
      background-color: $color-white;
      box-shadow: 0 2px 3px 0 rgba(90,97,105,0.11), 0 4px 8px 0 rgba(90,97,105,0.12), 0 15px 22px 0 rgba(90,97,105,0.10), 0 7px 35px 0 rgba(90,97,105,0.10);
      border-radius: 10px;
      @media (max-width: $screen-sm-max) {
        width: 100%;
        max-width: 364px;
        margin: 30px auto;

      }
      .views-field-field-news-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-news-category {
        @extend %h5;
        padding: 2.5rem 0 2rem 0;

        &,
        a {
          color: $mat-brand-primary;
        }
      }

      .views-field-title {
        margin-bottom: 1.5rem;
        @extend %h4;
        font-weight: 600;
        a {
          color: $blue-dark;
        }
      }

      .views-field-body {
        color: $link-color;
        @extend %small;
      }

      .views-field-view-node {
        margin-top: 20px;
        margin-bottom: 45px;
        a {
         @include btn-secondary('white');
        }
      }

      .views-field-field-news-category,
      .views-field-title,
      .views-field-body,
      .views-field-view-node {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

// Sidebar navigation
.news-filters {
  visibility: hidden; // for scroll review

  @media (max-width: $screen-sm-max) {
    max-width: 310px;
  }
}