// Newsroom page
.path-newsroom {
  .region-content {
    @extend %page-gray;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    .js-form-item {
      position: relative;
      label {
        display: block;
        width: 100%;
        cursor: pointer;
      }
      input[type="radio"] {
        position: absolute;
        visibility: hidden;
        &:checked + label {
          font-weight: 600;
        }
      }
    }
    legend {
      width: 100%;
    }
    .fieldset-wrapper {
      display: none;
    }
  }
}
.path-newsroom {
  + .ajax-progress-fullscreen {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(45,176,223,.9);
    width: 100%;
    height: 100%;
    @extend %animated;
    @extend %fadeIn;
    &:before {
      display: block;
      content: '';
      color: $color-white;
      font-size: 50px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
      animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    }
  }
}

.view-news-landing {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (min-width: $screen-md-min) {
    padding-right: 0;
  }

  &:before,
  &:after {
    border-top: 2px solid rgba(74,74,74,.10);
    height: calc(100% + 2px);
    top: -2px;
  }

  .view-header {
    text-align: center;
    width: 100%;
    flex-basis: 100%;

    //title block.
    .entity_type-block-content {

      &.field--name-field-title {
        @extend %h3;
        font-family: $font-roboto;
        font-weight: 500;
        color: $mat-brand-primary;
        letter-spacing: 5px;
        text-transform: uppercase;
        @include font-size(2.4);
      }

      &.field--name-field-subtitle {
        p {
          @extend %h1;
          margin: 0;
          color: $blue-dark;
          font-weight: 500;
          font-family: $font-flama-semibold;
          line-height: 45px;

          @media (min-width: $screen-sm-min) {
            @include font-size(8.5);
            line-height: 85px;
          }

        }
        margin-bottom: 7rem;
      }
    }

     @media (max-width: $screen-xs) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .view-filters {
    position: relative;
    min-width: 310px;
    margin: 5.5rem auto 9.5rem auto;

    @media (max-width: $screen-iphone5-max) {
      min-width: 260px;
    }

    @media (min-width: $screen-md-min) {
      width: 30%;
      min-width: 270px;
      margin: 0;
      padding-top: 30px;
    }
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto;
    }

    @media (min-width: $screen-sm-min) {
      width: 70%;
    }

    // single news item
    > .views-row {
      visibility: hidden; // for scroll review
      position: relative;
      overflow: hidden;
      width: calc(50% - 60px);
      margin: 30px;
      background-color: $color-white;
      box-shadow: 0 2px 3px 0 rgba(90,97,105,0.11), 0 4px 8px 0 rgba(90,97,105,0.12), 0 15px 22px 0 rgba(90,97,105,0.10), 0 7px 35px 0 rgba(90,97,105,0.10);
      border-radius: 10px;
      @media (max-width: $screen-sm-max) {
        width: 100%;
        max-width: 364px;
        margin: 20px auto;


      }

      @media (max-width: $screen-sm-max) {
        left: 50%!important;
        transform: translate(-50%)!important;
      }
      .views-field-field-news-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-news-category {
        @extend %h5;
        padding: 2.5rem 0 .5rem 0;

        &,
        a {
          color: $mat-brand-primary;
        }
      }

      .views-field-title {
        margin-bottom: 1.5rem;
        @extend %h4;
        font-weight: 500;
        font-family: $font-flama;
        a {
          color: $blue-dark;
        }
      }

      .views-field-body {
        color: $gray-darker;
        @extend %small;
      }

      .views-field-view-node {
        margin-top: 20px;
        margin-bottom: 45px;
        a {
         @include btn-secondary('white');
        }
      }

      .views-field-field-news-category,
      .views-field-title,
      .views-field-body,
      .views-field-view-node {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

// Sidebar navigation
#views-exposed-form-news-landing-page-1 {
  visibility: hidden; // for scroll review

  @media (max-width: $screen-sm-max) {
    max-width: 310px;
  }
}
