.view-news-landing {
  @include fullSectionBackground($gray-lighter, $gray-lighter);
  border-top: 2px solid rgba(74,74,74,.10);
  background-color: $gray-lighter;
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 0;

  &:before,
  &:after {
    border-top: 2px solid rgba(74,74,74,.10);
    height: calc(100% + 2px);
    top: -2px;
  }

  .view-header {
    text-align: center;
    width: 100%;

    h3 {
      color: $mat-brand-primary;
    }

    h1 {
      margin-bottom: 3rem;
      color: $blue-dark;
    }
  }

  .view-filters {
    position: relative;
    margin-top: 30px;
    width: 25%;
    margin-right: 100px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-right: auto;
      max-width: 310px;
      margin-left: auto;
      margin-bottom: 95px;
    }
  }

  .view-content {
    width: calc(75% - 40px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    // single news item
    > .views-row {
      visibility: hidden; // for scroll review
      position: relative;
      overflow: hidden;
      width: calc(50% - 60px);
      margin: 30px;
      background-color: $color-white;
      box-shadow: 0 2px 3px 0 rgba(90,97,105,0.11), 0 4px 8px 0 rgba(90,97,105,0.12), 0 15px 22px 0 rgba(90,97,105,0.10), 0 7px 35px 0 rgba(90,97,105,0.10);
      border-radius: 10px;
      @media (max-width: $screen-sm-max) {
        width: 100%;
        max-width: 364px;
        margin: 30px auto;

      }
      .views-field-field-news-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-news-category {
        @extend %small;
        color: $mat-brand-primary;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 2.5rem 0 2rem 0;
        a {
          color: $mat-brand-primary;
        }
      }

      .views-field-title {
        @include font-size(2.4);
        line-height: 1.45;
        color: $blue-dark;
        margin-bottom: 1.5rem;
        a {
          color: $blue-dark;
          font-weight: 600;
        }
      }

      .views-field-body {
        color: $link-color;
        @extend %small;
      }

      .views-field-view-node {
        margin-top: 20px;
        margin-bottom: 45px;
        a {
         @include btn-secondary('white');
        }
      }

      .views-field-field-news-category,
      .views-field-title,
      .views-field-body,
      .views-field-view-node {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

}

.news-filters {
  visibility: hidden; // for scroll review
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
  .news-categories, 
  .news-archive {
    display: none;
  }
  h2 {
    position: relative;
    display: block;
    @extend %lead;
    cursor: pointer;
    color: $gray-dark;
    padding: 2.5rem 2rem;

    &:after {
      content: '';
      display: inline-block;
      width: 23px;
      height: 20px;
      position: absolute;
      top: 3.1rem;
      right: 2.5rem;
      @include icons('i-chevron-gray');
      background-size: 100% 100%;
      transform: rotate(-90deg);
      transition: transform .3s ease-in;
    }
    &.active {
      color: $blue-dark;
      &:after {
        @include icons('i-chevron-blue');
        transform: rotate(0);
      }
    }
    
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.active {
      display: block;
    }
    &:last-of-type {
      padding-bottom: 15px;
    }
    li {
      display: block;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #F5F5F5;
      &:last-of-type {
        border-bottom: 0;
      }
      a {
        display: block;
        padding: 10px 20px;
        font-weight: 500;
        color: $gray-dark;
        @extend %small;
        &:hover {
          color: $blue-dark;
        }
      }
    }
  }
}