// ========================================
//
// @file _search-results.scss
// Search results page
//
// ========================================

.path-search {
  .region-content {
    @extend %page-gray;
  }

  .view-search {
    @extend .container-small-extra;

    .view-empty {
      text-align: center;
    }

    .view-header {
      margin-bottom: 7rem;
      text-align: center;

      h1 {
        margin-bottom: 3rem;
        color: $blue-dark;
        font-family: $font-roboto;
        font-weight: 500;
      }

      h3 {
        color: $mat-brand-primary;
      }
    }

    .view-content {
      @media (max-width: $screen-xs-min) {
        margin: 0 -($grid-gutter-width - 7px);
      }

      .views-row {
        margin-bottom: 9rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media (max-width: $screen-sm) {
          max-width: 374px;
          padding: 0 5px;
          margin: 0 auto 7.5rem auto;
        }

        &:last-child {
          margin-bottom: 7.5rem;
        }
      }

      .search-result {
        position: relative;

        img {

          margin-right: 5rem;
          width: 100%;
          border-radius: 10px;
          //background-size: cover;
          //background-position: center center;

          @media (min-width: $screen-sm-min) {
            //position: absolute;
            //top: 0;
            //left: 0;
            //width: 15rem;
            //height: 15rem;
            width: 15rem;
          }

        }

        &--title-and-link {
          @media (min-width: $screen-sm-min) {
            max-width: calc(100% - 20rem);
            word-break: break-all;
          }
        }
        
        &--link {
          padding-left: 2.3rem;
          padding-right: 2.3rem;

          a {
            text-decoration: underline;
            font-weight: 500;

            &:hover {
              text-decoration: none;
            }
          }

          @media (min-width: $screen-sm-min) {
            padding: 0;
          }
        }

        &--title {
          padding: 2.3rem 2.3rem .6rem 2.3rem;
          @include font-size(2.4);
          line-height: 1.45;
          font-weight: 500;
          a {
            color: $blue-dark;
            text-decoration: none;
            transition: color .2s ease-in-out;
            &:hover {
              color: $blue;
            }
          }

          @media (min-width: $screen-sm-min) {
            padding: 0 0 2.5rem 0;
            @include font-size(3);
            line-height: 1.35;
          }
        }

        &--text {
          width: 100%;
          padding: 1.3rem 2.3rem 0 2.3rem;

          @media (min-width: $screen-sm-min) {
            padding: 3.5rem 0 0 0;
          }

        }

        hr {
          width: calc(100% - 4.6rem);
          margin-left: auto;
          margin-right: auto;
          margin-top: 6.5rem;
          border-top: 2px solid rgba($gray-darker, 0.25);

          @media (min-width: $screen-sm-min) {
            margin-top: 9rem;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
          }
        }

        &--heading,
        &--text {
          @media (max-width: $screen-xs-min) {
            padding-left: ($grid-gutter-width - 7px);
            padding-right: ($grid-gutter-width - 7px);
          }
        }

        &.result-with-image {
           .search-result--title-and-link {
            @media (min-width: $screen-sm-min) {
              min-height: 15rem;
              padding-left: 20rem;
            }
          }
        }

        &.result-basic-page {
          h3,
          h4,
          table caption {
            color: $mat-brand-primary;
          }

          h3 {
            @extend %small-extra;

            @media (min-width: $screen-sm-min) {
              @include font-size(1.6);
              line-height: 1.5;
            }
          }

          h4,
          table caption {
            padding: .4em 0 .7em 0;
            @extend %lead;
            font-weight: 500;
          }
        }
      }
    }
  }
}
