// ========================================
//
// @file _storiesapi.scss
// Stories landing page, modal window styling
//
// ========================================
// Aditional variables
$option-width: 70px;

.slider-wrapper {
  width: 100%;
  height: calc(100vh - 220px);
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  min-height: 800px;
  max-height: 90vh;

  .container-small {
    color: $color-white;
    text-align: center;

    > * {
      position: relative;
      z-index: 2;
    }

    h1 {
      margin-bottom: 4.2rem;
      padding-bottom: 0;
      font-family: $font-flama-semibold;
      font-weight: 500;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 4.2rem;
      }

      @media (min-width: $screen-sm-min) {
        @include font-size(5);
        line-height: 1.1;
      }
    }

    .lead {
      max-width: 630px;
      margin: 0 auto 2.8rem auto;
      @extend %lead;
      font-weight: 500;
    }

    .btn-add-story {
      @include btn-primary();
      padding-left: 7.7rem !important;
      padding-right: 3.5rem;
      @include icons('i-comment-heart');
      background-size: 24px auto;
      background-position: 3.4rem center;

      @media (max-width: $screen-xs-max) {
        padding-right: 3rem;
      }
    }
  }
}

.adminimal-admin-toolbar {
  .slider-wrapper {
    height: calc(100vh - 260px);
  }
  &.toolbar-tray-open {
    .stories-api {
      height: calc(100vh - 300px);
      min-height: 700px;
    }
  }
}

.stories-api {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  //z-index: 1;
  @include gradient(90deg, #0f84d2, #0f84d2, #0b145e);
}



@-webkit-keyframes Pulse {
  from {  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5) }
  50% {  -webkit-box-shadow: 0 0 50px rgba(255,255,255,1) }
  to {  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5) }
}

@-webkit-keyframes Pulse-star-1 {
  from { opacity: 0.3 }
  50% { opacity: 0.7 }
  to { opacity: 0.3 }
}
@-webkit-keyframes Pulse-star-2 {
  from { opacity: 0.3; transform: scale(0.3)}
  50% { opacity: 0.7; transform: scale(1) }
  to { opacity: 0.3; transform: scale(0.3) }
}
@-webkit-keyframes Pulse-bubble {
  from { opacity: 0.01; transform: scale(0.6)}
  50% { opacity: 0.03; transform: scale(1) }
  to { opacity: 0.01; transform: scale(0.6) }
}


@-webkit-keyframes Pulse-S {
  from { -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.1) }
  50% {  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.15) }
  to {  -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.1) }
}


.pulse-2 {
  -webkit-animation-name: Pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pulse-star-1 {
  -webkit-animation-name: Pulse-star-1;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
.pulse-star-2 {
  -webkit-animation-name: Pulse-star-2;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}

.pulse-ns {
  -webkit-animation-name: Pulse-ns;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.pulse-s {
  -webkit-animation-name: Pulse-S;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

.pulse-bubble {
  -webkit-animation-name: Pulse-bubble;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
}

.stories-api {
  .small-item {
    border-radius: 50%;
    width: 0;
    height: 0;
    opacity:0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    border: solid 1px rgba(255,255,255,0.8);
    filter: blur(2.4px) brightness(1);
    transform: translate(100vw, 50vh) scale(0);
    transition: all linear 0s;
  }

  .bubble:first-child {
    display: none;
  }

  .bubble {
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
    z-index: 1;
    opacity: 0.03;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 200px rgba(255,255,255, 1);
    filter: blur(1.4px) brightness(0.9);

    @for $i from 1 to 20 {
      &:nth-of-type(#{$i}) {
        -webkit-animation-delay: #{$i}s;
      }

      &:first-child {
        background-color: black;
      }
    }
  }

  .star {
    height: 15px;
    width: 15px;
    -webkit-box-shadow: 0 0 30px rgba(255,255,255, 1);
    background-color: white;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    filter: blur(3.3px);
    z-index: 2;

    @for $i from 1 to 20 {
      &:nth-of-type(#{$i}) {
        -webkit-animation-delay: #{$i}s;
      }
    }
  }
  .item {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(calc(100vw + 40px), 50vh);
    background-color: $color-white;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border: solid 3px rgba(255,255,255,0.8);
    z-index: 5;
    box-shadow: 0 0 50px rgba(255,255,255, 1);

    .label {
      display: none;
      opacity: 0;
      transform: translate(0, 100%);
      transition: 0.2s all ease-in-out;
      top: 10rem;
      @extend %story-popup;

      label {
        @extend %story-popup--title;
        margin-bottom: -1rem;
      }

      small {
         @extend %story-popup--category;
      }

      button {
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        left: 50%;
        bottom: -2.1rem;
        z-index: 10;
        margin-left: -2.1rem;
        border-radius: 50%;
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
      }
    }

    &.hovered {
      .label {
        @media (min-width: $screen-sm-min) {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 124px -26px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 124px -26px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 124px -26px rgba(0,0,0,0.75);
    }


    @media (max-width: $screen-xs-max) {
      position: relative;
      transform: translate(0,0);
    }
  }

  .animation-wrapper {
    width: 100vw;
    height: calc(100% - #{$nav-pre-content-height});
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .animated-background {
    width: 100vw;
    height: calc(100% - #{$nav-pre-content-height});
    position: absolute;
    top: $nav-pre-content-height;
    left: 0;
    z-index: 0;
    overflow: hidden;
  }


  .bullets {
    width: 100%;

    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      border: solid 1px black;
      margin: 0 5px;

      &.active {
        background-color: lightgrey;
      }
    }
  }

  // Slider
  #slider {
    width: 100%;
    max-width: 640px;
    height: 10px;
    margin-left: -320px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../images/icons/stories/dot.png);
    z-index: 10;
    background-color: transparent;
    border: none;

    @media (min-width: $screen-md-min) {
      max-width: 840px;
      margin-left: -420px;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-md - $grid-gutter;
      max-width: 100%;
      margin-left: -($container-md - $grid-gutter) / 2;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    &.ui-state-disabled {
      opacity: 0.5;
      cursor: auto;
    }

    .prev {
      display: block;
      position: absolute;
      left: -17px;
      top: 0;
      content: "";
      width: 15px;
      background-size: 10px;
      background-position: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/icons/stories/back.png);
    }
    .next {
      display: block;
      position: absolute;
      right: -17px;
      top: 0;
      content: "";
       width: 15px;
      background-size: 10px;
      background-position: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/icons/stories/next.png);
    }
    span {
      height: 40px;
      width: 40px;
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.3);
      background-image: url(../images/icons/stories/finger.svg);
      position: relative;
      top: -15px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 50%;
      cursor: pointer;
      margin: 0 17px;
      outline: none;
      left: 0;
      transition: all ease-in-out 0.8s;
      border: none;
    }
  }
}

.story-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: $z-index-story-overlay;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;

  .backdrop {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  &.open {
    display: flex;
  }
  &.fade-in .backdrop {
    opacity: 1;
  }

  // Modal window
  .modal {
    margin: 0 $grid-gutter-width;
    padding: 3rem 2.4rem 4rem 2.4rem;
    position: relative;
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translate(0, -100%);
    transition: all 0.5s ease-in-out;

    @media (max-width: $screen-iphone5-max) and (orientation: portrait) {
      max-width: 28rem;
    }

    @media (max-width: 420px) and (orientation: portrait) {
      max-width: 32rem;
    }

    @media (min-width: $screen-sm-min) {
      max-width: 67rem;
      margin: 0;
      padding: 3rem 4rem 5rem 4rem;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 2rem;
      width: calc(100% - 4rem);
      height: 12rem;
      background: $color-white;
      background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -o-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -moz-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

      @media (min-width: $screen-sm-min) {
        left: 4rem;
        width: calc(100% - 8rem);
      }
    }

    &.drop {
      transform: translate(0);
      opacity: 1;
    }

    .modal-inner {
      max-height: 50rem;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 4.5rem;

      &::-webkit-scrollbar {
        width: 2px;
        background-color: #EBEBEB;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $mat-brand-primary;
        outline: none;
      }

      > label {
        @extend %small;
        font-weight: 500;
        color: $mat-brand-primary;
      }

      h2 {
        padding-bottom: .5rem;
        color: $blue-dark;
        font-weight: 500;
      }
      #content {
        font-weight: 500;
      }
    }

    // Close modal window button
    .i-close {
      display: block;
      width: 4.3rem;
      height: 4.3rem;
      position: absolute;
      top: -2rem;
      right: -2rem;
      border-radius: 50%;
      background-color: $mat-brand-primary;
      @include icons('i-close');
      background-size: 15px auto;
      background-position: center center;
      cursor: pointer;
    }

    // Modal gallery
    .modal-gallery {
      display: flex;
      max-height: 100px;
      margin-top: 4rem;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
     -webkit-overflow-scrolling: touch;

      img {
        height: 100px;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }

      #gallery {
        display: flex;
        flex-shrink: 0;
      }
    }

    // Modal text content, components
    #content {
      ul,
      ol {
        @extend %list-base;
      }

      ul {
        @extend %list-ul;
      }

      ol {
        @extend %list-ol;
      }
    }

    #content,
    #components {
      padding: 4rem 2rem 0 0;
      @extend %small-extra;

      @media (min-width: $screen-sm-min) {
        padding-right: 4rem;
      }

      hr {
        border-width: 1px;
      }

      ul,
      ol {
        li {
          padding-left: 2.8rem;
        }
      }

      blockquote {
        padding-left: 2rem;
        @include font-size(1.6);
        line-height: 1.5;

        @media (min-width: $screen-sm-min) {
          padding: 0 4rem;
          @include font-size(2);
        }

        &:before {
          @media (max-width: $screen-xs-max) {
            left: 2rem;
          }
        }
      }
    }

    #components {
      padding-top: 2rem;

      .paragraph--type--landing-page-image,
      .paragraph--type--basic-page-image-and-text {
        img {
          @media (max-width: $screen-xs-max) {
            width: 100%;
            max-width: 220px;
          }
        }
      }

      .paragraph--type--basic-page-quote {
        .quote--footer {
          @media (max-width: $screen-xs-max) {
            padding-left: 2rem;
          }
        }
      }

      .border-line {
        border-bottom-width: 1px;
      }
    }

    // Modal action section
    .modal-action {
      display: flex;
      margin-top: 2.2rem;

      label {
        @extend %small-label;

        span {
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
      }

      &--social a,
      .i-link {
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
        background-position: center center;
      }

      &--social {
        padding-right: 2rem;
        font-size: 0;
        @extend %social-share--blue;

        a {
          margin: 0 6px;
          top: 3px;

          @media (max-width: $screen-iphone5-max) { // iPhone5
            margin: 0 2px;
          }
        }

        .i-facebook {
          background-size: auto 17px;
        }

        .i-twitter {
          background-size: 15px auto;
        }

        .i-mail {
          background-size: 17px auto;
        }
      }

      &--quicklink {
        display: flex;
        position: relative;

        #link {
          display: inline-block;
          font-size: 0;
          color: $gray-darker;
        }

        label {
          cursor: pointer;
        }

        .i-link {
          display: inline-block;
          @include icons('i-link-blue');
          margin-left: .5rem;
          top: 4px;

          @media (min-width: $screen-sm-min) {
            margin-left: 1.5rem;
          }
        }

        #link-copied {
          padding: 0 1rem;
          margin-left: 1rem;
          position: relative;
          top: 2px;
          @extend %small-extra;
          color: $gray-base;
          border: solid 1px #bfbfbf;
          opacity: 0;
          transition: 0.3s all ease-in-out;

          @media (max-width: $screen-xs-max) {
            position: absolute;
            top: 2.5rem;
            left: -1rem;
            white-space: nowrap;
          }

          @media (max-width: $screen-iphone5-max) { // iPhone5
            left: -4rem;
          }

          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
}


$mobile-item-margin: 40px;
$mobile-item-size: 100px;
@media (max-width: $screen-xs-max) {
  .slider-wrapper {
    height: 100%;
    max-height: unset;
  }
  .controls .filter-wrapper {
    display: block;
    width: 100%;

    .cat-item {
      display: inline-block;
      padding-right: 50px;
      &.slick-slide {
        outline: none;
      }
      &.active {
        color: #9B9B9B;
      }
      &.slick-active {
        color: black;
      }
    }
  }
  .stories-api {
    background: transparent;
    position: unset;

    .item {
      &.left {
        transform: translate($mobile-item-margin, 0);
      }
      &.right {
        transform: translate(calc(100vw - #{$mobile-item-margin} - #{$mobile-item-size}), 0);
      }
    }
    .slider-wrapper {
      height: 100%;
      max-height: unset;
    }
    .animated-background {
      @include gradient(90deg, #0f84d2, #0f84d2, #0b145e);
      top: 0;
      height: 100%;
    }
  }
  .animation-wrapper {
    padding: 50px 0;
  }
  .container-small {
    padding-top: 50px;
  }
}


.controls {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $nav-pre-content-bg;
    height: $nav-pre-content-height;
    display: flex;
    @extend %small;
    font-weight: 500;

    .container {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .filter-wrapper {
      color: $gray-base;

      .active {
        color: $color-black;
      }

      .cat-item {
        cursor: pointer;

        @media (min-width: $screen-sm-min) {
           padding: 0 1vw;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }

        @media (min-width: $screen-md-min) {
          padding: 0 1.5vw;
        }

        @media (min-width: $screen-lg-min) {
          padding: 0 2rem;
        }
      }
    }

    .alphabet-wrapper {
      justify-content: space-between;

      @media (min-width: $screen-sm-min) {
        justify-content: flex-end;
      }
    }

    .filter-wrapper,
    .alphabet-wrapper {
      display: flex;
      flex-grow: 1;

      > label {
        color: $blue-dark;

        span {
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }

        i {
          @media (min-width: $screen-sm-min) {
            display: none;
          }
        }
      }

      .dropdown-wrapper {
        position: relative;
        padding-right: 10px;
        width: ($option-width + 35px);
        cursor: pointer;
        text-align: center;

        &:before {
          display: inline-block;
          width: 16px;
          height: 8px;
          position: absolute;
          top: 7px;
          right: 0;
          content: '';
          @include icons('i-chevron-nav-blue');
          background-position: center center;

          @media (min-width: $screen-sm-min) {
            top: 34%;
          }
        }
      }
      .dropdown {
        position: absolute;
        top: 0;
        left: 50%;
        height: 0;
        margin-left: -42px;
        transition: height ease-in-out .35s;
        overflow: hidden;
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;

        .dropdown-inner {
          height: 0;
          margin-top: 50px;
          padding-bottom: 50px;
          border-top-left-radius: $border-radius-base;
          border-top-right-radius: $border-radius-base;
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        }

        &.open {
          &,
          .dropdown-inner {
            height: 400px;
          }

          .dropdown-inner {
            overflow-y: auto;
          }
        }

        &:before {
          display: block;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          top: 32px;
          left: $option-width/4;
          border-width: 0 $option-width/4 $option-width/4 $option-width/4;
          border-color: transparent transparent white transparent;
        }

        .option {
          background-color: $color-white;
          color: $gray-base;
          width: $option-width;
          height: $option-width;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-bottom: solid 1px $gray-light;

          &:last-child {
            border-bottom: none;
            border-bottom-left-radius: $border-radius-base;
            border-bottom-right-radius: $border-radius-base;
          }

          &:hover {
            color: $gray-light;
          }
        }
      }

      .selected {
        @include font-size(2);
        line-height: 1;
      }
    }
}

.controls .filter-wrapper .bold.cat-item {
    //font-weight: bold !important;
    color: #4a4a4a;
}
