// ========================================
//
// @file _storyform.scss
// Story submission form
//
// ========================================
.story-submission--main {
  .region-content {
    @extend %page-gray;
    border-top: 0;
  }
}

.node-story-profile-story-submission-form {

  .g-recaptcha {
    padding: 0;
    position: relative;
    >div {
      position: absolute;
      top: -175px;
      opacity: 0;
      transition-delay: .36s;
      &.visible {
        opacity: 1;
      }
    }
  }

  max-width: 930px;

  // Remove default Firefox border on required inputs.
  input:required,
  textarea:required {
    box-shadow: none;
  }

  //Warnings.
  .js-form-type-textfield,
  .js-form-type-textarea,
  .js-form-type-email {
    position: relative;
    &:before {
      display: none;
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      @include font-size(1.2);
      color: $color-red;
    }
    &.js-form-type-email {
      &:before {
        content: 'Please enter a valid email address.';
      }
    }
    &.form-item-field-submissioner-phone-number-0-value {
      &:before {
        content: 'Please enter a valid US telephone number.';
      }
    }

    &.empty {
      &:before {
        content: 'Please fill out required field.'!important;
      }
    }

    &.invalid,
    &.empty {
      &:before {
        display: block;
      }
      input,
      textarea {
        border-color: $color-red;
      }
    }
  }

  .field--name-field-intro-markup {
    text-align: center;
    margin-bottom: 1.8rem;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 6rem;
    }

    h1 {
      color: $blue-dark;
      font-family: $font-flama-semibold;
      font-weight: 500;
    }
    p {
      font-weight: normal !important;
    }
  }

  .field-group-accordion-wrapper {
    border-bottom: 2px solid $gray-dark;

    &.step5 {
      border-bottom: none;

      .step-link:not(.active) {
        border-bottom: 2px solid rgba(74, 74, 74, .5);
      }

      .step-title {
        @media (max-width: $screen-iphone5-max) {
          display: block;
        }
      }
    }
  }

  .step-link {
    display: block;
    padding: 3rem 0;

    span {
      display: inline-block;

      &:first-of-type {
        font-weight: 500;
        text-transform: uppercase;
        color: $gray-dark;
        letter-spacing: 5px;
        margin-right: 55px;
        @media (max-width: $screen-xs-max) {
          margin-right: 30px;
        }
      }
      &.step-title {
        font-weight: 500;
        color: $gray-dark;
        @extend %lead;

        + .step-title {
          display: none;
        }
      }
    }
    &.active {
      padding: 2.8rem 0 1.3rem 0;
      margin-top: 4.5rem;

      @media (max-width: $screen-xs-max) {
         margin-top: 2.2rem;
      }

      span {
        display: block;

        &:first-of-type {
          color: $mat-brand-primary;
          margin-right: 0;
        }

        &.step-title {
          color: $blue-dark;
          padding-top: .3rem;
        }
      }
    }
  }

  .js-webform-type-radios {
    legend {
      margin-top: 4rem;
      display: block;

      span {
        display: inline-block;
        margin: 3.8rem 0 1rem 0;
        @extend %lead;
        font-weight: 500;
        color: $blue-dark;
      }
    }
  }
  .step-link.active + .step-content {
    border-bottom: 2px solid $gray-darker;
  }
  .step-link {
    &:last-of-type {
      &.active {
        + .step-content {
          border-bottom: 0;
        }
      }
    }
  }
  .step-content {
    position: relative;
    @include clearfix;
    &.step1-content {
      padding-bottom: 5rem;
    }

    &.step2-content,
    &.step3-content {
      padding-bottom: 8.5rem;

      @media (max-width: $screen-xs-max) {
        padding-bottom: 6rem;
      }
    }

    &.step1-content {

      #edit-field-story-category--wrapper {

        .fieldset-legend {
          display: block;
          margin: 3.5rem 0 1rem 0;
          font-weight: 500;
          color: $blue-dark;
          @extend %lead;
        }

        #edit-field-story-category {
          display: flex;
          flex-wrap: wrap;

          label {
            @include font-size(2.4);
            font-weight: 500;
            position: relative;
            top: 5px;
            left: 23px;
            &::before {
              background: #fff;
            }
          }
        }
      }

      .field--name-field-story-first-name,
      .field--name-field-story-last-name {
        float: left;
        width: calc(50% - 30px);
        @media (max-width: $screen-xs-max) {
          float: none;
          width: 100%;
        }
      }

      .field--name-field-story-first-name {
        margin-right: 60px;
        @media (max-width: $screen-xs-max) {
          margin-right: 0;
        }
      }

      .field--name-field-story-category {
        clear: both;
      }
    }
    &.step2-content {
      padding-top: 3.5rem;

      .field--name-field-story-markup-2 {
        position: relative;

        .field-required {
          top: -10.1rem;

          @media (min-width: $screen-sm-min) {
            top: -7.2rem;
          }
        }
      }

      .textarea-placeholder {
        display: block;
        @extend %small;
        color: $gray-dark;
        position: absolute;
        z-index: 1;
        cursor: text;
        top: 3rem;
        left: 2.8rem;
        padding-right: 2.8rem;
        transition: all .2s;

        &.labelfocus {
          z-index: 0;
          visibility: hidden;
        }
      }

      textarea {
        height: 400px;
        @extend %small;

        @media (min-width: $screen-sm-min) {
          height: 350px;
        }
      }
    }
    &.step3-content {
      .field--name-field-story-markup-23 {
        padding-bottom: 4rem;
      }

      .field--type-image {
        position: relative;
        width: calc(25% - 1.5rem);
        float: left;
        overflow: hidden;
        height: 200px;

        margin-right: 2rem;
        border: 5px dashed #979797;
        border-radius: 10px;
        div {
          height: 100%;
        }
        label {
          display: none;
        }
        input[type="file"] {
          width: 100%;
          height: 100%;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
        .image-widget {
          &:before {
            position: absolute;
            display: block;
            width: 44px;
            height: 44px;
            content: '';
            @include icons('i-upload_photo');
            top: 8.4rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: -44px auto 0;
          }
          &:after {
            content: 'Additional Photo (Optional)';
            display: block;
            padding: 1.2rem 2rem 0 2rem;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            bottom: 0;
            @extend %small-label;
            font-family: $font-flama;
            color: $gray-dark;
            text-align: center;

            @media (max-width: $screen-xs-max) {
              max-width: 20rem;
              margin: 0 auto;
            }
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
          }
          span {
            display: none;
          }
        }
        &.field--name-field-story-featured-image {
          .image-widget {
            &:before {
              @include icons('i-upload_fphoto');
            }
            &:after {
              content: 'Upload a  Featured Photo ';
            }
          }
          position: relative;
          &.empty {
            border: 3px solid $color-red;
            &:before {
              content: 'At least one photo is required.';
              position: absolute;
              left: 0;
              transform: translate(12.5%, 45%);
              @include font-size(1.2);
              color: $color-red;
            }
          }
        }
        input.form-submit {
          position: absolute;
          z-index: 1;
          top: 5px;
          right: 0;
          width: 24px;
          height: 24px;
          @include icons('i-remove');
          text-indent: -9999px;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          padding: 0;
          cursor: pointer;
          &:hover {
            opacity: .8;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
        @media (max-width: $screen-xs-max) {
          width: 100%;
          float: none;
          margin-bottom: 2.5rem;
          margin-right: 0;
          &:last-of-type {
            margin-bottom: 0;
          }
        }

      }

    }
    &.step4-content {
      padding-bottom: 7rem;

      .field--name-field-story-markup-4 {
        p {
          padding-bottom: 1.6rem;

          @media (min-width: $screen-sm-min) {
            padding: 2.5rem 0 3.6rem 0;
          }
        }
      }

      .field--name-field-submissioner-first-name,
      .field--name-field-submissioner-last-name,
      .field--name-field-submissioner-email,
      .field--name-field-submissioner-phone-number {
        width: calc(50% - 3rem);
        float: left;

        @media (max-width: $screen-xs-max) {
          width: 100%;
          float: none;
        }
      }
      .field--name-field-submissioner-first-name,
      .field--name-field-submissioner-email {
        margin-right: 6rem;
        @media (max-width: $screen-xs-max) {
          margin-right: 0;
        }
      }

    }

    &.step5-content {
      .field--name-field-story-markup-5 {
        margin-top: 3rem;
        color: $gray-dark;

        p {
          margin-bottom: 3.3rem;

          @media (min-width: $screen-sm-min) {
            margin-bottom: 3.8rem;
          }
        }
      }
    }

    .field--name-field-terms-and-conditions {
      position: relative;
      font-weight: 500;

      .js-form-type-checkbox label {
        display: block;
        padding-left: 6rem;
        color: $color-black !important;
        font-size: 1.6rem !important;
        line-height: 1.7 !important;
        white-space: nowrap;

        @media (max-width: $screen-iphone5-max) {
           white-space: normal;
        }

        @media (min-width: $screen-sm-min) {
          font-size: 2rem !important;
        }
      }
      a {
        text-decoration: underline;

        @media (max-width: $screen-iphone5-max) {
          white-space: nowrap;
        }

        @media (min-width: $screen-sm-min) {
          color: $color-black;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  #charNum {
    font-weight: 500;
    @include font-size(1.2);
    color: $gray-dark;
    text-align: right;
  }

  .field--type-markup {
    p {
      font-weight: 500;

    }

    .file-desc,
    .field-required {
      @include font-size(1.2);
      color: $gray-dark;
      font-weight: 500;

      position: absolute;
      top: -3.7rem;
      right: 0;
    }

    .field-required {
      @media (max-width: $screen-xs-max) {
        top: -6.6rem;
      }
    }

    .file-desc {
      @media (max-width: $screen-xs-max) {
        display: block;
        margin-bottom: 1.2rem;
        position: relative;
        top: auto;
        right: auto;
      }
    }
  }
  .form-actions {
    margin-top: 13rem;
    text-align: center;
  }
  button[type="submit"] {
    @include btn-primary();
    padding-left: 7.7rem !important;
    padding-right: 3.5rem;
    @include icons('i-comment-heart');
    background-size: 24px auto;
    background-position: 3.4rem center;

    @media (max-width: $screen-xs-max) {
      padding-right: 3rem;
    }

    @media (max-width: $screen-iphone5-max) {
      padding-left: 7rem !important;
      padding-right: 2.8rem;
      background-position: 3rem center;
    }
  }
}

// form stuff
form.node-story-profile-story-submission-form {
  .form-item.js-form-type-textfield,
  .js-form-type-email {
    @extend %labelfocus;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border-color: $color-white;
    background-color: $color-white;
  }

  .js-form-type-checkbox label::before,
  .field--type-boolean label::before,
  .webform-type-radios label::before {
    background-color: $color-white !important;
  }

  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    background: $color-white !important;
    border-color: $color-white !important;
  }

  .story-submission-intro {
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

//Thank you page
.node-story-profile-story-submitted-thank-you-page {
  background: rgba(74, 74, 74, .1);
  .node-story-profile-story-submitted-thank-you-content {
    padding: 10rem 11.5%;
    text-align: center;

    @media (max-width: $screen-sm) {
      padding: 10rem $grid-gutter-width;
    }

    @media (max-width: $screen-xs) {
      padding: 8rem 0;
    }

    h1 {
      color: $blue-dark;
      font-family: $font-flama-semibold;
      font-weight: 500;
      @media (max-width: $screen-sm) {
        font-size: 5rem;
      }
    }

    h4 {
      text-transform: none;
      letter-spacing: normal;
      padding-bottom: 3.2rem;
      @media (max-width: $screen-sm) {
        padding-top: 2rem;
        font-size: 2.2rem;
      }
    }

    p {
      @include font-size(1.6);
      font-weight: 500;
      margin-bottom: 2rem;
    }

    a {
      text-decoration: underline;
      transition: color .2s ease-in-out;
      color: rgba(74, 74, 74, .65);
      &:hover {
        color: rgba(74, 74, 74, .4);
      }
    }

    .btn-go-back {
      @include btn-primary();
      padding-left: 7.7rem !important;
      padding-right: 3.5rem;
      @include icons('i-back');
      background-size: 24px auto;
      background-position: 3.4rem center;
      margin-top: 3rem;

      @media (max-width: $screen-xs-max) {
        padding-right: 3rem;
      }
    }

  }
}
