<div class="node-story-profile-story-submitted-thank-you-page">
  <div class="node-story-profile-story-submitted-thank-you-container">
    <div class="node-story-profile-story-submitted-thank-you-content">
      {{ content|raw }}
      <a href="/stories" class="btn-go-back">Return to All Stories</a>
    </div>
  </div>
</div>
