<div class="node-story-profile-story-submitted-thank-you-page">
  <div class="node-story-profile-story-submitted-thank-you-container">
    <div class="node-story-profile-story-submitted-thank-you-content">
      {{ content|raw }}
    </div>
  </div>
</div>


{#<h1>Thank You</h1>#}

{#<h4>Thank you for taking the time to submit your story. Whether it is your own personal experience or the story of a loved one, we appreciate your willingness to share the impact donation has had on your life.</h4>#}

{#<p>A member of our team will review your story and reach out with questions or a notification that your story has been published on the site.</p>#}

{#<p>Questions? Email <a href="mailto:info@midamericatransplant.org">info@midamericatransplant.org</a>.</p>#}

{#<a href="/stories" class="btn-go-back">Return to All Stories</a>#}
