// ========================================
//
// @file _paragraph--landing-page-pillars.scss
// Paragraph pillars element on the landing page
// ========================================

// Paragraph pillars
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-pillars {
  position: relative;
  top: -3.8rem;
}
    
.paragraph--type--pillar-group {
  position: relative;

  .pillar-group--heading {
    position: relative;
    padding-bottom: 14.5rem;
    text-align: center;

    @media (min-width: $screen-sm-min) {
       padding-bottom: 0;
    }

    &:before {
      @media (max-width: $screen-xs-max) {
        content: '';
        position: absolute;
        bottom: 4rem;
        left: 50%;
        width: 1px;
        height: 120px;
        border-left: 2px solid #d2d2d2;
      }
    }

    .pillar-group--title {
      display: inline-block;
      padding: 2rem 7.5rem;
      position: relative;
      z-index: 2;
      @extend %h4;
      font-weight: 500;
      color: $color-white;
      border-radius: $border-radius-base;
    }

    .dot {
      position: absolute;
      left: 50%;
      bottom: 4rem;
      margin-left: -11px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  &.orange {
    .pillar-group--title {
      @include gradient-orange();
    }

    .pillar-group-item--heading h4 {
      color: $orange;
    }

    .dot:before {
      background-color: $orange;
    }
  }

  &.green {
    .pillar-group--title {
      @include gradient-green();
    }

    .pillar-group-item--heading h4 {
      color: $green;
    }

    .dot:before {
      background-color: $green;
    }
  }

  &.purple {
    .pillar-group--title {
      @include gradient-purple();
    }

    .pillar-group-item--heading h4 {
      color: $purple;
    }

    .dot:before {
      background-color: $purple;
    }
  }

  // Pillar group items
  .field--name-field-pillar-group-items {
    margin-bottom: 6rem;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 12.5rem;
      padding-top: 5.5rem;
    }

    @extend %line-vertical;

    > .field__item {
      min-height: 46rem;
      padding-bottom: 8rem;
    
      @media (min-width: $screen-sm-min) {
        width: 50%;
        padding-bottom: 0;//12rem;
        visibility: hidden;

        &:last-child {
          padding-bottom: 0;
        }
      }

      .paragraph--type--pillar-group-item {
        position: relative;

        &:before {
          @media (min-width: $screen-sm-min) {
            content: '';
            position: absolute;
            top: 6.4rem;
            width: 6.5rem;
            border-top: 2px solid #d2d2d2;
          }

          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 3rem;
          }
        }

        .dot {
          position: absolute;
          top: 5.3rem;

          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        .paragraph--type--pillar-group-item {
          @media (min-width: $screen-sm-min) {
            //margin-top: 24rem;
          }
        }
      }
    }

    .pillar-group-item--heading {
      padding-bottom: .5rem;

      @media (min-width: $screen-sm-min) {
        display: flex;
        padding-bottom: 1.2rem;
      }

      .pillar-group-item--image {
        flex-shrink: 0;
        width: 10.8rem;
        height: 10.8rem;
        margin: 0 auto 3rem auto;
        border-radius: 50%;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
          margin: 0 2rem 0 0;
        }
      }

      h5 {
        color: $orange-light;
      }
    }

    .field--name-field-link {
      margin-top: 3.7rem;

      @media (min-width: $screen-sm-min) {
        margin-top: 2.7rem;
      }

      a {
        @include btn-secondary('white');
      }
    }
  }
}


// First Item alignmetn -- left
.paragraph--type--pillar-group {
  .field--name-field-pillar-group-items {
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .field--name-field-pillar-group-items > .field__item {
    & + .field__item {
      @media (min-width: $screen-sm-min) {
        margin-top: -20rem;
      }
    }

    &:nth-of-type(odd) {
      .paragraph--type--pillar-group-item {
        @media (min-width: $screen-sm-min) {
          padding-right: 16rem;

          &:before {
            right: 0;
          }

          .dot {
            right: 6.4rem;
          }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding-right: 7rem;

          .dot {
            right: 3rem;
          }
        }
      }
    }

    &:nth-of-type(even) {
      @media (min-width: $screen-sm-min) {
        align-self: flex-end;
      }

      .paragraph--type--pillar-group-item {
        @media (min-width: $screen-sm-min) {
          padding-left: 16rem;

          &:before {
            left: 0;
          }

          .dot {
            left: 6.4rem;
          }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding-left: 7rem;

          .dot {
            left: 3rem;
          }
        }
      }
    }
  }
}


// First Item alignmetn -- right
.paragraph--type--pillar-group.right {
  .field--name-field-pillar-group-items > .field__item {
    &:nth-of-type(even) {
      @media (min-width: $screen-sm-min) {
        align-self: flex-start;
      }

      .paragraph--type--pillar-group-item {
        @media (min-width: $screen-sm-min) {
          padding-right: 16rem;
          padding-left: 0;

          &:before {
            right: 0;
            left: auto;
          }

          .dot {
            right: 6.4rem;
            left: auto;
          }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding-right: 7rem;
          padding-left: 0;

          .dot {
            right: 3rem;
            left: auto;
          }
        }
      }
    }

    &:nth-of-type(odd) {
      align-self: flex-end;

      .paragraph--type--pillar-group-item {
        @media (min-width: $screen-sm-min) {
          padding-left: 16rem;
          padding-right: 0;

          &:before {
            left: 0;
            right: auto;
          }

          .dot {
            left: 6.4rem;
            right: auto;
          }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding-left: 7rem;
          padding-right: 0;

          .dot {
            left: 3rem;
            right: auto;
          }
        }
      }
    }
  }
}