// ========================================
//
// @file _paragraph--landing-page-cta.scss
// Paragraph CTA element on the landing page
// ========================================

// Paragraph CTA
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-cta {
  @extend .container;

  > .field--name-field-title,
  > .field--name-field-text {
    text-align: center;
  }

  > .field--name-field-title {
    @extend %h2;
    color: $brand-primary;
  }

  > .field--name-field-text {
    @extend %lead;
    color: #173F7C;
  }

  // Grid
  .field--name-field-cta-items {
    @include make-row;
    margin-top: 11rem;

    > .field__item {
      @extend %col;
      flex-basis: 100%;
      margin-bottom: 2rem;

      @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
      }
    }
  }

  // Items basic styles
  .paragraph--type--cta-item {
    display: flex;
    align-items: center;
    min-height: 12rem;
    margin-left: 5rem;
    padding: 1.5rem 0 2rem 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

    @media (min-width: $screen-sm-min) {
      min-height: 17.5rem;
      margin-left: 0;
      padding: 3rem 0;
    }

    .cta-item--icon {
      margin-left: -5rem;
      @extend %circle--base;

      &:after {
        background-size: 3.5rem auto;
      }
    }

    .cta-item--content {
      padding: 0 4rem 0 2.5rem;
      margin-right: 2rem;
      @include icons('i-chevron-circle-right');
      background-position: right center;

      @media (min-width: $screen-sm-min) {
        padding-right: 10rem;
        margin-right: 4.5rem;
      }
    }

    .field--name-field-title {
      @include font-size(2);
      padding-bottom: 1.2rem;

      @media (min-width: $screen-sm-min) {
        @include font-size(2.4);
        line-height: 1.3;
      }
    }

    .field--name-field-content {
      @include font-size(1.4);
      line-height: 1.4;

      @media (min-width: $screen-sm-min) {
        @include font-size(1.6);
        line-height: 1.5;
      }
    }
  }

   // Items color and icons styles
  .paragraph--type--cta-item {
    position: relative;

    // Color
    &.green {
      .field--name-field-title {
        color: $green;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient-green();
        }
      }
    }

    &.purple {
      .field--name-field-title {
        color: $purple;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient-purple();
        }
      }
    }

    &.orange {
      .field--name-field-title {
        color: $orange;
      }

      .cta-item--icon {
        &:before {
           @include gradient-orange();
        }
      }
    }

    &.blue-dark {
      .field--name-field-title {
        color: $blue-dark;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient-blue-dark();
        }
      }
    }

    &.blue {
      .field--name-field-title {
        color: $blue-dark;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient-blue();
        }
      }
    }

    &.blue-light {
      .field--name-field-title {
        color: $blue-light;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient-blue-light();
        }
      }
    }



    // Icons
    &.i-together {
      .cta-item--icon {
        &:after {
          @include icons('i-together');
        }
      }
    }

    &.i-give-life {
      .cta-item--icon {
        &:after {
          @include icons('i-give-life');
        }
      }
    }

    &.i-comment-alt-lines {
      .cta-item--icon {
        &:after {
          @include icons('i-comment-alt-lines');
        }
      }
    }

    &.i-search {
      .cta-item--icon {
        &:after {
          @include icons('i-search');
        }
      }
    }

    &.i-hand-holding-heart {
      .cta-item--icon {
        &:after {
          @include icons('i-hand-holding-heart');
        }
      }
    }

    &.i-walking {
      .cta-item--icon {
        &:after {
          @include icons('i-walking');
        }
      }
    }



  }
}