// ========================================
//
// @file _paragraph--landing-page-cta.scss
// Paragraph CTA element on the landing page
// ========================================

// Paragraph CTA
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-cta {
  padding-top: 9rem;
  position: relative;
  background-color: #CBD9E2;
  
  @media (max-width: $screen-xs-max) {
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% + 400px);
      background-image: url($image-root + 'highlights/highlight-bg-sisters--top-mobile.png');
      background-position: left bottom;
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $screen-sm-min) {
    min-height: 830px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 463px;
      z-index: 2;
      background-image: url($image-root + 'highlights/highlight-bg-sisters--top.png');
      background-position: left top;
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $screen-md-min) {
    &:before {
      height: 70%;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 14rem;
    padding-bottom: 0;
  }

  .container-small {
    @media (min-width: $screen-sm-min) {
      z-index: 2;
    }
  }

  .container-large {
    max-width: 1430px;

    @media (min-width: $screen-sm-min) {
      z-index: 2;
    }
  }

  // Grid
  .field--name-field-cta-items {
    @include make-row;
    margin-top: 4.8rem;

    @media (min-width: $screen-sm-min) {
      margin-top: 9rem;
    }

    > .field__item {
      position: relative;
      @extend %col;
      flex-basis: 100%;
      margin-bottom: 2.5rem;

      @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 70px;
      }

      @media (min-width: $screen-md-min) {
        flex-grow: 0;
      }
    }
  }

  // Items basic styles
  .paragraph--type--cta-item {
    display: flex;
    align-items: stretch;
    min-height: 12rem;
    margin-left: 4rem;
    position: relative;
    background-color: $color-white;
    border-radius: 13px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    }

    @media (min-width: $screen-sm-min) {
      min-height: 17.5rem;
      margin-left: 0;
    }

    > a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1.5rem 0 2.2rem 0;

      @media (min-width: $screen-sm-min) {
        padding: 3rem 0;
      }
    }

    .icon-circled {
      @extend %circle--base;
      margin-left: -4rem;
      margin-top: .7rem;

      @media (min-width: $screen-sm-min) {
        margin-left: -5rem;
      }

      i {
        background-size: 3.5rem auto;
        background-repeat: no-repeat;
      }
    }

    .cta-item--content {
      width: 100%;
      margin-right: 2rem;
      padding: 0 5rem 0 2.5rem;
      @include icons('i-chevron-circle');
      background-position: right center;

      .field--name-field-title {
        font-family: $font-flama-medium;
        font-weight: 400;
      }

      @media (min-width: $screen-sm-min) {
        margin-right: 4.5rem;
        padding-right: 10rem;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        margin-right: 2.5vw;
        padding-right: 6vw;
      }
    }

    .field--name-field-content {
      @include font-size(1.4);
      line-height: 1.4;

      @media (min-width: $screen-sm-min) {
        @include font-size(1.6);
        line-height: 1.5;
      }
    }
  }
}
