// ========================================
//
// @file _paragraph--landing-page-statement.scss
// Paragraph statement element on the landing page
// ========================================

// Paragraph statement
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-statement {
  padding: 5rem 0 5.5rem 0;

  @media (min-width: $screen-sm-min) {
    padding: 11rem 0 7rem 0;
  }

  h2 {
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
    color: $blue-dark;
  }

  .field--name-field-link {
    margin-top: 4.5rem;
    text-align: center;

    a {
      @include btn-primary();
    }
  }
}