// ========================================
//
// @file _paragraph--landing-page-cta.scss
// Paragraph CTA element on the landing page
// ========================================

// Paragraph CTA
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-cta {
  @extend .container;

  > .field--name-field-title,
  > .field--name-field-text {
    text-align: center;
  }

  > .field--name-field-title {
    @extend %h2;
    color: $brand-primary;
  }

  > .field--name-field-text {
    @extend %lead;
    color: #173F7C;
  }

  // Grid
  .field--name-field-cta-items {
    @include make-row;
    margin-top: 11rem;

    @media (min-width: $screen-sm-min) {
      flex-wrap: nowrap;
    }

    > .field__item {
      @extend %col;
      flex-basis: 100%;
      margin-bottom: 2rem;

      @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
      }
    }
  }

  // Items basic styles
  .paragraph--type--cta-item {
    display: flex;
    align-items: center;
    min-height: 17.5rem;
    padding: 3rem 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

    .cta-item--icon {
      margin-left: -5rem;
      @extend %circle--base;

      &:after {
        background-size: 3.5rem auto;
      }
    }

    .cta-item--content {
      padding: 0 10rem 0 2.5rem;
      margin-right: 4.5rem;
      @include icons('i-chevron-circle-right');
      background-position: right center;
    }

    .field--name-field-title {
      padding-bottom: 1.2rem;

      @media (min-width: $screen-sm-min) {
        @include font-size(2.4);
        line-height: 1.3;
      }
    }

    .field--name-field-content {
      @media (min-width: $screen-sm-min) {
        @include font-size(1.6);
        line-height: 1.5;
      }
    }
  }

   // Items color and icons styles
  .paragraph--type--cta-item {
    position: relative;

    // Color
    &.green {
      .field--name-field-title {
        color: $green;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient(90deg, $green, $green-light, $green);
        }
      }
    }

    &.purple {
      .field--name-field-title {
        color: $green;
      }
      
      .cta-item--icon {
        &:before {
          @include gradient(90deg, $purple, $purple-light, $purple);
        }
      }
    }

    // Icons
    &.i-together {
      .cta-item--icon {
        &:after {
          @include icons('i-together');
        }
      }
    }

    &.i-give-life {
      .cta-item--icon {
        &:after {
          @include icons('i-give-life');
        }
      }
    }
  }
}