// ========================================
//
// @file _paragraph--landing-page-hero-image.scss
// Paragraph hero image element on the landing page
// ========================================

// Paragraph hero image
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-hero-image {
  position: relative;
  color: $white;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    margin-top: -$header-height;
    min-height: 83.5rem;
    padding: 22rem 0 9rem 0;
  }
  
  @media (max-width: $screen-sm-max) {
    margin-top: -$header-height-mobile;
  }

  .hero-image--heading {
    position: relative;
    min-height: 35.5rem;
    padding: 11rem 0 4rem 0;

     @media (min-width: $screen-sm-min) {
      position: static;
      min-height: auto;
      padding: 0;
    }
  }

  .hero-image--content {
    @media (min-width: $screen-sm-min) {
      max-width: 88rem;
    }

    @media (max-width: $screen-xs-max) {
      @include gradient-blue();
      min-height: 41rem;
      padding-top: 6.3rem;
      padding-bottom: 7.3rem;
    }
  }

  .hero-image--bg {
    @extend %hero-image--bg;
  }

  .hero-image--gradient {
    @include gradient-blue();
    @extend %hero-image--gradient;
  }

  .field--name-field-text {
    @extend %lead;
  }
}

// Also used for Base page header
%hero-image--bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

%hero-image--gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: .9;
}

