// ========================================
//
// @file _paragraph--landing-page-year-review.scss
// Paragraph Year-review element on the landing page
// ========================================

// Paragraph Year-review 
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-year-review {
  padding: 11rem 0 9.5rem 0;
  background-color: $gray-lighter;

  @media (min-width: $screen-sm-min) {
    padding: 20.5rem 0 12rem 0;
  }

  .field--name-field-statistics-items {
    margin-top: 12.5rem;
    
    @media (min-width: $screen-sm-min) {
      margin-top: 9rem;
    }
  }

  .container-small {
    @media (min-width: $screen-sm-min) {
      max-width: 70rem;
    }
    text-align: center;

    h3 {
      color: $mat-brand-primary;
    }

    h1 {
      @include font-size(4);

      @media (min-width: $screen-sm-min) {
        @include font-size(5);
      }
      color: $blue-dark;
    }

    .field--name-field-text {
      @extend %lead-small-mobile;
    }
  }
}
