// ========================================
//
// @file _paragraph--landing-page-counter.scss
// Paragraph Counter element on the landing page
// ========================================

// Paragraph Counter
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-counter {
  @include gradient-blue();
  color: $color-white;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 9rem;
  }
  
  .container {
    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 60rem;
    }
  }

  .counter--content {
    position: relative;
    z-index: 2;

    @media (min-width: $screen-sm-min) {
      width: 41%;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 52%;
    }
  }

  .field--name-field-text {
    @extend %lead-small-mobile;
  }

  .field--name-field-number {
    @include font-size(13);
    font-family: $font-flama;
    cursor: default;

    @include gradient(90deg, #2F4493, #2BAEDE, #2F4493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 2;
    position: relative;
    top: 0;

    
    @media (max-width: $screen-iphone5-max) {
      @include font-size(10.5);
    }

    @media (min-width: $screen-sm-min) {
      position: absolute;
      left: 0;
      font-size: 25vw;
    }

    @media (min-width: $screen-lg-min) {
      @include font-size(35);
    }
    &.shine {
      background: transparent;
      display: flex;
      -webkit-background-clip: transparent;
      -webkit-text-fill-color: transparent;
      text-shadow: rgba(0, 0, 0, 0.4) -27px 13px 80px;
      z-index: 0;
      position: absolute;
      top: 0;
    }

    &.number-shadow {
      text-shadow: 0 -2px 0 #0BAADB;
      z-index: 1;
      z-index: 0;
      position: absolute;
      top: 0;
    }
  }
}