// ========================================
//
// @file _paragraph--landing-page-statement.scss
// Paragraph statement element on the landing page
// ========================================

// Paragraph statement
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-statement {
  padding: 5rem 0 14rem 0;
  background-color: #BDDAEC;
  background-image: url($image-root + 'highlights/highlight-bg-gavin--top.png');
  background-position: left bottom;
  background-repeat: repeat-x;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 5.5rem;
    background-color: #FEFEFE;
    background-position: left top;
    
  }

  @media (min-width: $screen-sm-min) {
    padding: 11rem 0 7rem 0;
  }

  .field--name-field-link {
    margin-top: 2.6rem;
    text-align: center;

    a {
      @include btn-primary();
    }
  }
}