// ========================================
//
// @file _paragraph--landing-page-statistics.scss
// Paragraph statistics element on the landing page
// ========================================

// Paragraph statistics
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-statistics {
  @extend .container;

  // Grid
  .field--name-field-statistics-items {
    @include make-row;

    @media (min-width: $screen-sm-min) {
      flex-wrap: nowrap;
    }

    > .field__item {
      @extend %col;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 13rem;
      }
    }
  }
    
  // Items basic styles
  .paragraph--type--statistics-item {
    text-align: center;

    .field--name-field-number {
      font-family: $font-flama;
      @include font-size(8.5);
      color: #173F7C;
    }

    .field--name-field-title {
      padding-top: .8rem;
      @extend %h2;
    }

    .statistics-item--icon {
      display: inline-block;
      @extend %circle--base;

      &:after {
        background-size: 3.8rem auto;

        @media (min-width: $screen-sm-min) {
          background-size: 5rem auto;
        }
      }
    }
  }

  // Items color and icons styles
  .paragraph--type--statistics-item {
    // Color
    &.green {
      .field--name-field-title {
        color: $green;
      }

      .statistics-item--icon {
        &:before {
          @include gradient-green();
        }
      }
    }

    &.purple {
      .field--name-field-title {
        color: $purple;
      }

      .statistics-item--icon {
        &:before {
          @include gradient-purple();
        }
      }
    }

    &.orange {
      .field--name-field-title {
        color: $orange;
      }

      .statistics-item--icon {
        &:before {
          @include gradient-orange();
        }
      }
    }

    // Icons
    &.i-users {
      .statistics-item--icon {
        &:after {
          @include icons('i-users');
        }
      }
    }

    &.i-exchange {
      .statistics-item--icon {
        &:after {
          @include icons('i-exchange');
        }
      }
    }

    &.i-home {
      .statistics-item--icon {
        &:after {
          @include icons('i-home');
        }
      }
    }
  }
}