// ========================================
//
// @file _paragraph--landing-page-slider.scss
// Paragraph Slider element on the landing page
// ========================================

// Paragraph Slider
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-slider {
  @media (min-width: $screen-sm-min) {
    margin-top: -$header-height;
  }
  
  @media (max-width: $screen-sm-max) {
    margin-top: -$header-height-mobile;
  }

  @media (max-width: $screen-xs-max) {
    @include gradient-blue();
  }

  // Slick styles.
  .slick__slide {
    outline: none;
  }

  .paragraph--type--slide {
    position: relative;
    
    .slide--image {
      background-size: cover;
      background-position: center;
      height: 305px;
      
      @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0;
        width: 100%;
        height: 955px;
      }
    }

    .container {
      padding-top: 4rem;
      padding-bottom: 5rem;

      @media (min-width: $screen-sm-min) {
        display: flex;
        height: 955px;
        padding-top: 21rem;
        padding-bottom: 0;
      }
    }

    .slide--content {
      max-width: 61rem;
      position: relative;
      color: $white;
    }

    h1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      font-weight: 700;

      @media (min-width: $screen-sm-min) {
        height: 300px;
      }
    }

    .field--name-field-title-prefix {
      white-space: nowrap;
    }

    .field--name-field-content {
      @include font-size(1.6);
      line-height: 1.5;

      @media (min-width: $screen-sm-min) {
        @include font-size(2.4);
        line-height: 1.45;
      }
    }

    .field--name-field-link {
      margin-top: 3rem;

      @media (min-width: $screen-sm-min) {
        margin-top: 4.5rem;
      }

      a {
        @include btn-primary();

        @media (max-width: $screen-xs-max) {
          padding: .85rem 5.3rem;
        }
      }
    }
  }
}