// ========================================
//
// @file _paragraph--landing-page-highlight.scss
// Paragraph highlight element on the landing page
// ========================================

// Paragraph highlight
// -----------------------------------------------------------------------------
.paragraph--type--landing-page-highlight {
  display: flex;
  position: relative;
  height: 1100px;
  padding-bottom: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FEFEFE;
  background-position-y: bottom;

  overflow-x: hidden;

  @media (min-width: $screen-sm-min) {
    align-items: flex-end;
    height: 880px;
  }

  .field--name-field-link {
    margin-top: 3rem;

    a {
      @include btn-secondary();

      @media (max-width: $screen-xs-max) {
        border-color: #212529;
        color: $gray-dark;
      }
    }
  }

  .container {
    position: relative;
  }

  .highlight--image {
    position: absolute;
    bottom: 0;
  }

  .highlight--content {
    padding-top: 3.8rem;
    border-top: 1px solid #C4C7C9;

    @media (min-width: $screen-sm-min) {
      width: 46rem;
      border-top: none;
      color: $color-white;
    }

    h2 {
      @media (max-width: $screen-xs-max) {
        @include font-size(3.5);
        line-height: 1.2;
      }
    }
  }

  &.story--gavin {
    .highlight--image {
      left: 50%;
      margin-left: -290px;

      @media (min-width: $screen-sm-min) {
        margin-left: -750px;
      }
    }

    .highlight--content {
      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }

    h2 {
      @media (max-width: $screen-xs) {
        width: 64%;
      }
    }
  }

  &.story--meegale {
    .highlight--image {
      right: 50%;
      margin-right: -175px;

      @media (min-width: $screen-sm-min) {
        margin-right: -540px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-right: -440px;
      }
    }

    h2 {
      @media (max-width: $screen-xs) {
        width: 74%;
      }
    }
  }

  &.story--sisters {
    height: 1700px;
    background-position-y: bottom;

    .highlight--image {
      @media (max-width: $screen-xs) {
        left: -190px;
        max-width: 500px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        left: -300px;
        max-width: 900px;
      }
    }

    .highlight--content {
      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }
  }

}

/*
.paragraph--type--landing-page-highlight {
  &:nth-child(1) {
    margin-top: 0;
  }

  position: relative;
  background-size: cover;
  background-position: center;
  &:after {
    @include overlay($color-white);
  }

  .inner {
    @include container;
    @extend %flex-center-vertical;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 1200px;

    h2 {
      @include font-size(3.8);
      margin: 0 0 20px;
    }

    .field--name-field-text {
      @include font-size(2);
    }

    .text {
      flex: 1 1 0;
      order: 2;
      @media (min-width: $screen-sm-min) {
        order: 1;
      }
    }

    .field--name-field-media {
      order: 1;
      flex: auto;
      @media (min-width: $screen-sm-min) {
        order: 2;
        flex: 0 0 50%;
      }
    }
  }
}
*/
