// ========================================
//
// @file _paragraph--base.scss
// All the paragraph base elements
//
// ========================================

// Paragraphs layout
// -----------------------------------------------------------------------------
.paragraph-components {
  margin: 0;

  // MAT paragraphs (common styles, elements)
  .paragraph--type--landing-page-cta,
  .paragraph--type--landing-page-statistics,
  .paragraph--type--landing-page-statement {

    .container-small {
      .field--name-field-title {
        @extend %h3;
        color: $mat-brand-primary;
        text-align: center;
      }

      h2 {
        color: $blue-dark;
        text-align: center;
      }
    }
  }

  // Colored circles with icons - COLORS
  .paragraph--type--statistics-item,
  .paragraph--type--cta-item {
    &.blue-dark {
      .field--name-field-title {
        color: $blue-dark;
      }
      
      .icon-circled {
        &:before {
          @include gradient-blue-dark();
        }
      }
    }

    &.blue {
      .field--name-field-title {
        color: $blue;
      }
      
      .icon-circled {
        &:before {
          @include gradient-blue();
        }
      }
    }

    &.blue-light {
      .field--name-field-title {
        color: $blue-light;
      }
      
      .icon-circled {
        &:before {
          @include gradient-blue-light();
        }
      }
    }

    &.green {
      .field--name-field-title {
        color: $green;
      }

      .icon-circled {
        &:before {
          @include gradient-green();
        }
      }
    }

    &.orange {
      .field--name-field-title {
        color: $orange;
      }

      .icon-circled {
        &:before {
          @include gradient-orange();
        }
      }
    }

    &.purple {
      .field--name-field-title {
        color: $purple;
      }

      .icon-circled {
        &:before {
          @include gradient-purple();
        }
      }
    }
  }

  // Colored circles with icons - ICONS
  .paragraph--type--statistics-item,
  .paragraph--type--cta-item {
    &.i-comment-alt-lines {
      .icon-circled {
        &:after {
          @include icons('i-comment-alt-lines');
        }
      }
    }

    &.i-exchange {
      .icon-circled {
        &:after {
          @include icons('i-exchange');
        }
      }
    }

    &.i-eye {
      .icon-circled {
        &:after {
          @include icons('i-eye');
        }
      }
    }

    &.i-give-life {
      .icon-circled {
        &:after {
          @include icons('i-give-life');
        }
      }
    }

    &.i-hand-holding-heart {
      .icon-circled {
        &:after {
          @include icons('i-hand-holding-heart');
        }
      }
    }

    &.i-hands-heart {
      .icon-circled {
        &:after {
          @include icons('i-hands-heart');
        }
      }
    }

    &.i-heart {
      .icon-circled {
        &:after {
          @include icons('i-heart');
        }
      }
    }

    &.i-home {
      .icon-circled {
        &:after {
          @include icons('i-home');
        }
      }
    }

    &.i-search {
      .icon-circled {
        &:after {
          @include icons('i-search');
        }
      }
    }

    &.i-shield {
      .icon-circled {
        &:after {
          @include icons('i-shield');
        }
      }
    }

    &.i-together {
      .icon-circled {
        &:after {
          @include icons('i-together');
        }
      }
    }

    &.i-users {
      .icon-circled {
        &:after {
          @include icons('i-users');
        }
      }
    }

    &.i-walking {
      .icon-circled {
        &:after {
          @include icons('i-walking');
        }
      }
    }
  }

  // Dots (used on PT Timeline, Pillars)
  .dot {
    @extend %dot;
  }


  // CoTailored (only) paragraphs
  > .paragraph {
    &.coloured-light,
    &.coloured-dark {
      padding: 40px 0;
    }

    &.coloured-light {
      background-color: $gray-lighter;
    }

    &.coloured-dark {
      background-color: $brand-primary;
      color: $color-white;

      .paragraph.boxed .inner {
        border-color: $color-white;
      }

      .coloured-light .inner {
        color: $brand-primary;
      }

    }

    .field--name-field-landing-page-elements {
      @include make-row;
    }

    &.paragraph--type--landing-page-columns {

      &.medium,
      &.small {
        .wrapper {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.medium {
        .wrapper { max-width: 1200px; }
      }

      &.small {
        .wrapper { max-width: 800px; }
      }

      .wrapper {
        @include container;
      }
    }

    &.paragraph--type--landing-page-columns {
      margin-top: 20px;
      @media (min-width: $screen-md-min) {
        margin-top: 40px;
      }

      .paragraph {
        @extend %col;

        // Pargarphs columns grid size options
        &.one-quarter    { width: 25%; }
        &.one-third      { width: 33.3333%; }
        &.half           { width: 50%; }
        &.two-thirds     { width: 66.6666%; }
        &.three-quarters { width: 75%; }

        &.one-quarter,
        &.one-third,
        &.half,
        &.two-thirds,
        &.three-quarters {
          flex: none;
          @media (max-width: $screen-sm-max) {
            width: 100%;
          }
        }

        &.boxed {
          .inner {
            @extend %box;
          }
        }

        &.coloured-light {
          .inner {
            @extend %coloured-light;
          }
        }

        &.coloured-dark {
          .inner {
            @extend %coloured-dark;
          }
        }
      }
    }
  }
}

.paragraph--type--landing-page-list {
  .view-content {
    ul li {
      margin-bottom: 10px;
      .views-field-changed {
        opacity: 0.6;
        @include font-size(1.3);
      }
    }
  }
}



.paragraph--type--landing-page-box {
  display: block;
  .inner {
    @extend %flex-center-vertical;
  }

  h3 {
    margin-bottom: 10px;
    @include font-size(1.8);
  }

  .field--name-field-media {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .text {
    flex: 1;
    padding-left: 40px;
  }

  &.vertical {
    .inner {
      align-items: flex-start;
      .text {
        flex: auto;
        width: 100%;
      }
    }

    .field--name-field-media {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0;
      }
    }

    .text { padding: 0; }
  }
}
