// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

#footer {
  padding-bottom: 4.5rem;
  background-color: $gray-light;

  .region-footer-menu {
    padding: 7rem 0 3rem 0;
    background-color: $color-white;

    @media (min-width: $screen-sm-min) {
      padding: 9.5rem 0 7rem 0;
    }
  }

  .navigation.menu--footer {
    @extend .container;

    > ul {
      @include make-row;

      .menu-item--expanded {
        @extend %col;
        flex-direction: column;
        margin-bottom: 5rem;
        color: $gray-darker;

        @media (max-width: $screen-xs-max) {
          flex-basis: 50%;
        }

        @media (max-width: $screen-iphone5-max) {
          &:nth-child(odd) {
            padding-right: 1rem;
          }

          &:nth-child(even) {
            padding-left: 1rem;
          }
        }

        > span {
          font-weight: 500;
          white-space: nowrap;
        }

        > .menu {
          margin-top: 1rem;

          .menu-item {
            a {
              color: $gray-base;

              &:hover {
                color: $gray-darker;
              }
            }
          }
        }
      }
    }
  }

  .region-footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @extend .container;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 4.5rem;
    }

    .logo_donate-life {
      display: flex;

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
        margin-bottom: 6rem;
      }

      img:nth-of-type(1) {
        margin: -2rem 0 3rem 0;

        @media (min-width: $screen-sm-min) {
          margin: 0 2rem 0 0;
        }
      }
    }

    .logo {
      width: 160px;

      @media (max-width: $screen-xs-max) {
        order: 2;
        margin-top: 5.5rem;
      }
    }

    #block-sociallinks-2 {
      @media (min-width: $screen-md-min) {
        margin-left: 6rem;
      }

      @media (max-width: $screen-xs-max) {
        order: 1;
      }

      .field--name-field-social-links-group {
        display: flex;
        justify-content: space-between;
        width: 22rem;

        a {
          display: inline-block;
          width: 2.7rem;
          height: 2.7rem;
          background-size: auto auto;
          background-position: center center;
          opacity: .5;

          &:hover {
            opacity: 1;
          }

          &.i-facebook {
            @include icons('i-facebook');
          }

          &.i-instagram {
            @include icons('i-instagram');
          }

          &.i-twitter {
            @include icons('i-twitter');
          }

          &.i-linkedin {
            @include icons('i-linkedin');
          }

          &.i-vimeo {
            @include icons('i-vimeo');
          }
        }
      }
    }
  }

  .region-copyright {
    padding-top: 2rem;
    @include font-size(1.4);
    text-align: center;
    text-transform: capitalize;

    @media (min-width: $screen-sm-min) {
      padding-top: 3.7rem;
    }

    a {
      color: $gray-base;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}