// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

// Transparent navigation
body.page-node-type-landing-page {
  @media (min-width: $screen-sm-min) {
    #block-mat-main-menu {
      > ul > li {
        > a,
        > span {
          color: $color-white;

          &:before {
            @include icons('i-chevron-nav-white');
          }
        }

        // Active menu item
        &.menu-item--active-trail {
          @media (min-width: $screen-sm-min) {
            > a,
            > span {
              color: $mat-brand-primary;

              &:before {
                background-image: url($icon-root + 'i-chevron-nav-blue-light.svg') !important;
              }
            }
          }
        }
      }
    }
  }
}

#block-mat-main-menu {
  display: flex;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  > ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    &:hover li.menu-item:not(:hover) > a,
    &:hover li.menu-item:not(:hover) > span {
      opacity: .5;
    }

    > li {
      @media (min-width: $screen-sm-min) {
        padding: 0 1.8vw;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      @media (min-width: $screen-lg-min) {
        padding: 0 2.5rem;
      }
    }
  }
}

#block-mat-main-menu {
  > ul {
    position: relative;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      justify-content: flex-end;
      flex-direction: row;
    }

    > li > a,
    > li > span {
      position: relative;
      @include font-size(2);
      text-transform: capitalize;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 2vw;
      }
    }

    a,
    span {
      display: block;
      color: $gray-darker;
      cursor: pointer;
      padding: 2.5rem $grid-gutter-width;



      @media (min-width: $screen-sm-min) {
        padding: 1rem 0;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding-top: .3rem;
      }
    }

    span {
      transition: .4s;
    }

    // Active menu item
    > li.menu-item--active-trail {
      @media (min-width: $screen-sm-min) {
        > a,
        > span {
          color: $blue-dark;

          &:before {
            background-image: url($icon-root + 'i-chevron-nav-blue.svg') !important;
          }
        }
      }
    }

    li.menu-item--expanded {
      position: relative;

      > a,
      > span {
        padding-right: 2.5rem;

        &:before {
          content: '';
          display: inline-block;
          width: 16px;
          height: 8px;
          position: absolute;
          top: 45%;
          right: 0;
          @include icons('i-chevron-nav-gray');
          background-size: auto auto;
          background-position: center center;

          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 14px;
            top: 32%;
            background-size: 14px auto;
          }
        }
      }

      li.menu-item--expanded {
        > a,
        > span {
          &:before {
            @media (min-width: $screen-sm-min) {
              display: none;
            }
          }
        }
      }
    }

    > li.menu-item--expanded {
      // Submenu menu (dropdown)
      .menu {
        @media (min-width: $screen-sm-min) {
          display: none;
          width: 18rem;
          position: absolute;
          left: 50%;
          margin-left: -8.5rem;
          @include font-size(1.4);
          border-radius: $border-radius-base;
          border: 1px solid $border-color-base;
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

          > li {
            position: relative;
            z-index: 2;
            background-color: $color-white;
            border-bottom: 1px solid $border-color-base;

            &:last-child {
              border-bottom: none;
            }

            a {
              padding: 2rem 2rem;
            }
          }

          &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 22px;
            height: 22px;
            background-color: $color-white;
            transform: rotate(45deg);
            top: -11px;
            left: 50%;
            margin-left: -10px;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
          }
        }
      }

      &:hover > .menu {
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }
  }
}

// Mobile navigation
html.no-overflow {
  @media (max-width: $screen-xs-max) { 
    overflow-y: hidden;
  }
}

body.mobile-menu--opened {
  @media (max-width: $screen-xs-max) { 
    overflow: hidden;

    #header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: $z-index-header-mobile;
      overflow-y: auto;
      background-color: $color-white;
    }

    // For Logged in users only.
    &.adminimal-admin-toolbar {
      #header {
        top: 39px;
      }
    }

    .region-header {
      height: auto;
      background-color: $color-white;

      .container {
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin-bottom: 11rem;
      }

      .block.branding {
        margin-left: $grid-gutter-width;
        height: 6rem;
      }
    }

    #block-mat-main-menu {
      display: flex;

      > ul > li {
        border-top: 2px solid #DEDEDE;
      }

      // Submenu menu (accordion)
      li.menu-item--expanded {
        
        > a,
        > span {
          padding-right: 6rem;
          cursor: pointer;

          &:before {
            width: 23px;
            height: 20px;
            top: 3rem;
            right: $grid-gutter-width;
            @include icons('i-chevron-nav-mobile-gray');
            transform: rotate(-90deg);
            transition: transform .3s ease-in;
          }
        }

        li {
          border-top: 1px solid #EAEAEA;

          a,
          span {
            padding: 1.8rem 5rem;
          }
        }

        > .menu {
          margin: 0 ($grid-gutter-width / 2);

          > li {
            @include font-size(2);

            &.menu-item--expanded {
              > a,
              > span { 
                &:before {
                  top: 2.3rem;
                  right: ($grid-gutter-width / 2);
                }
              }
            }

            .menu {
              margin: 0;

              li {
                @include font-size(1.6);

                a,
                span {
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Accordion logic
@media screen and (max-width: $screen-xs-max) {
  #block-mat-main-menu {
    li.menu-item--expanded {
      -webkit-overflow-scrolling: touch;

      > ul {
        max-height: 0;
        transition: max-height 0.45s ease-out;
        overflow: hidden;
      }

      &.active {
        > a,
        > span {
          color: $blue-dark !important;
          opacity: 1;

          &:before {
            background-image: url($icon-root + 'i-chevron-nav-mobile-blue.svg') !important;
            transform: rotate(0) !important;
          }
        }

        > ul {
          display: block;
          max-height: 500px;
          transition: max-height 0.45s ease-in;
        }
      }
    }
  }
}
