// Pager on Search results, Newsroom
.pager {
  position: relative;
  width: 100%;
  text-align: center;
  
  .pager__items {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &.pager__item--first,
      &.pager__item--last {
        display: none;
      }
      &.pager__item--previous,
      &.pager__item--next {
        position: absolute;
        a {
          @include icons('i-chevron-pager');
          background-position: center center;
          background-repeat: no-repeat;
          &:hover {
            opacity: .7;
          }
          span {
            display: none;
          }
        }
      }
      &.pager__item--previous {
        left: -17px;

        a {
          transform: rotate(180deg);
        }
      }
      &.pager__item--next {
        right: -17px;
      }
      a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        background-color: transparent;
        @extend %small-extra;
        font-weight: 600;
        color: $gray-base;
        &:hover {
          color: $blue-dark;
        }
      }
      &.is-active {
        a {
          background-color: $blue-dark;
          color: $color-white;
        }
      }
    }
  }
}

// Newsroom page
.path-newsroom {
  .pager {
    max-width: ($container-xs - $grid-gutter);
    margin: 20rem auto 0 auto;

    @media (max-width: $screen-xs-min) {
      margin: 20rem 25px 0 25px;
    }
  }
}