// ========================================
//
// @file _tabs.scss
// All the tabs elements on the page
//
// ========================================

nav.tabs {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 200;

  > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > li {
      a {
        display: block;
        padding: 10px 20px;
        @include font-size(1.6);
        font-family: sans-serif;
        color: $gray-dark;
      }
    }
  }
}