// ========================================
//
// @file _base.scss
// Base styles
//
// ========================================

body {
  background-color: $color-white;
  color: $gray-darker;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: $font-text;
  font-weight: 400;
  &.modal-open {
    // This prevents the body from scrolling but keeps the scrollbar (so that the window does not shift).
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }
  &.loading {
    overflow: hidden;
    #loading-gif-modal {
      display: block;
    }
  }
  &:after {
    // Preload header SVG icons (black version) so that they don't flicker on hover.
    content: url($icon-root + 'i-together-nav-dark.svg') url($icon-root + 'i-give-life-nav-dark.svg');
    display: none;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

a,
input,
textarea,
select {
  outline: none;
}

hr {
  margin: 0;
  border: 0;
  border-top: 2px solid $hr-border-color;
}

table {
  width: 100%;
  margin-top: 4.5rem;
  border-collapse: separate;
  border-spacing: 0;
  
  caption {
    margin-top: -2rem;
    text-align: left;
  }

  th {
    @include font-size(1);
    letter-spacing: .15em;
    text-transform: uppercase;
    color: $blue-dark;
    background-color: #ECECEC;
    border: 1px solid $table-border-color;
    border-left: none;
  }

  td {
    @include font-size(1.2);
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;

    &:first-child {
      font-weight: 500;
    }
  }

  th, td {
    padding: 1.2rem 2rem;
    vertical-align: top;
    text-align: left;

    &:first-child {
      border-left: 1px solid $table-border-color;
    }
  }

  tr {
    &:nth-of-type(even) {
      td {
        background-color: #FBFBFB;
      }
    }

    &:last-child {
      td:first-child {
        border-bottom-left-radius: $table-border-radius;
      }

      td:last-child {
        border-bottom-right-radius: $table-border-radius;
      }
    }
  }

  // No header
  tbody tr:first-child td {
    border-top: 1px solid $table-border-color;

    &:first-child {
      border-top-left-radius: $table-border-radius;
    }

    &:last-child {
      border-top-right-radius: $table-border-radius;
    }
  }

  // Header as a first row
  thead {
    th {
      &:first-child {
        border-top-left-radius: $table-border-radius;
      }

      &:last-child {
        border-top-right-radius: $table-border-radius;
      }
    }

    & + tbody tr:first-child td {
      border-top: none;

      &:first-child {
        border-top-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }

  // Header as a first column
  tbody tr {
    th {
      min-width: 16rem;
      width: 25%;
      padding: 1.5rem 2rem;
      border-top: none;
    }

    &:first-child {
      th {
         border-top-left-radius: $table-border-radius;
      }
    }

    &:last-child {
      th {
         border-bottom-left-radius: $table-border-radius;
      }
    }
  }
}

.embedded-entity {
  margin-bottom: 10px;

  img {
    display: block;
    margin: 0 auto;
  }

  &.align-left {
    margin-right: 20px;
  }

  &.aling-right {
    margin-left: 20px;
  }
}

.cta {
  @include btn-primary();
}
