// ========================================
//
// @file _extends.scss
// File containing all Sass extendables
//
// ========================================

// MAT colored circles with icons - BASE
%circle--base {
  position: relative;

  &:before,
  &:after,
  i {
    content: '';
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    @media (min-width: $screen-sm-min) {
      width: 10.8rem;
      height: 10.8rem;
    }
  }

  &:after,
  i {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
  }
}

// MAT dots (used on PT Timeline, Pillars)
%dot {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #d2d2d2;
  background-color: $color-white;

  &:before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 3px auto 0 auto;
    position: relative;
    border-radius: 50%;
  }
}

// MAT vertical line (used on PT Timeline, Pillars)
%line-vertical {
  &:before {
    @media (min-width: $screen-sm-min) {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      border-left: 2px solid #ccc;
      margin-left: -1px;
    }
  }

  &:after {
    @media (min-width: $screen-sm-min) {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 1rem;
      height: 15rem;
      margin-left: -.5rem;
      background: $color-white;
      background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -o-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -moz-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    }
  }
}

// Pages with gray background (like Newsroom, Search results etc.)
%page-gray {
  padding: 9rem 0;
  background-color: $gray-lighter;
  border-top: 2px solid #ECECEC;
}

// Adaptable columns - 100 % on mobile
%col {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0;
    // Equal heights
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 100%;
    }
  }
}

%box {
  padding: 20px;
  border: 1px dashed $brand-primary;
  border-radius: 5px;
}

%coloured-light {
  padding: 20px;
  background-color: $gray-lighter;
  border-radius: 5px;
}

%coloured-dark {
  padding: 20px;
  background-color: $brand-primary;
  color: $color-white;
  border-radius: 5px;
}

%button-reset {
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
}

%flex-center-vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

%row-3 {
  @include make-row;
  > div {
    @extend %col;
    @media (min-width: $screen-sm-min) {
      flex: none;
      width: 33.3333%;
    }
  }
}