// ========================================
//
// @file _layout.scss
// File containing layout styles
//
// ========================================
// Main container
.container,
.field--name-field-landing-page-description,
.view-news-landing,
.basic-page-container,
.node-story-profile-story-submission-form,
.node-story-profile-story-submitted-thank-you-container {
  @include container;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $container-md;
}

// Additional containers (used on Landing pages)
.container-large {
  @extend .container;
  max-width: $container-lg;
}

.container-small {
  @extend .container;
  max-width: $container-sm;
}

// Used on pages like Search results, News Article
.container-small-extra {
  @extend .container;
  max-width: $container-xs;
}

.precontent {
  position: relative;
  z-index: 1;
}

// CoTailored
.row,
.layout-wrapper {
  @include make-row;
  > * {
    @extend %col;
  }
}

.layout-sidebar {
  @extend %col;
  margin-top: 40px;
  @extend .is-col-4;
  flex: none;
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  .region-sidebar {
    .block {
      @extend %box;
      margin-bottom: 20px;
    }
  }
}

.clearfix:after {
  display: none;
}
