// ========================================
//
// @file _layout.scss
// File containing layout styles
//
// ========================================
.container,
.field--name-field-landing-page-description,
.view-news-landing {
  @include container;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $container-lg;
}

// Additional containers (used on Landing pages)
.container-small {
  @extend .container;
  max-width: 100rem;
}

.container-large {
  @extend .container;
  max-width: 1530px;
}

// CoTailored
.row,
.layout-wrapper {
  @include make-row;
  > * {
    @extend %col;
  }
}

main[role="main"] {
  margin-bottom: 20px;
}

.layout-sidebar {
  @extend %col;
  margin-top: 40px;
  @extend .is-col-4;
  flex: none;
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  .region-sidebar {
    .block {
      @extend %box;
      margin-bottom: 20px;
    }
  }
}

.clearfix:after {
  display: none;
}