{% set pargraph_col = paragraph.field_paragraph_column.value %}

{%
  set classes = [
    'paragraph',
    pargraph_col,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}

  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      <div class="inner">
        {% block content %}
          {% if content.field_form_intro_text is not empty or content.field_form_headline is not empty or content.field_form_intro_image is not empty %}
            <div class="landing-page-form--intro">
              {{ content|without('field_webform') }}
            </div>
          {% endif %}
          {{ content.field_webform }}
        {% endblock %}
      </div>
    </div>
  {% endblock paragraph %}
